{% extends 'diary/base.html' %}
{% block content %}
<h1>日記一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>日付</th>
      <th>更新</th>
      <th>削除</th>
    </tr>
  </thead>
{% for day in day_list %}
  <tbody>
    <tr>
      <td><a href="{% url 'diary:detail' day.pk %}">{{ day.title }}</a></td>
      <td>{{ day.date }}</td>
      <td>
        {% if user.is_superuser %}
        <a href="{% url 'diary:update' day.pk %}" target="_blank">更新</a>
        {% endif %}
      </td> <!-- pkはprimary_keyの意味 -->
      <td>
        {% if user.is_superuser %}
        <a href="{% url 'diary:delete' day.pk %}" target="_blank">削除</a>
        {% endif %}
      </td> <!-- delete -->
    </tr>
  </tbody>
{% endfor %}
</table>

{% include './page4.html %}

{% endblock %}